.page {
  text-align: center;
}

.input-container {
  margin-top: 12px;
  
}

label {
  padding: 10px 15px;
  background-color: #ebeef3;
  color: black;
  border: 2px solid #ebeef3;
  border-radius: 20px 0 0 20px;
}

.mail-label {
  padding: 10px 34px 10px 15px;
}

input {
  width: 250px;
  height: 45px;
  border-radius: 0 20px 20px 0px;
}

button {
  width: 350px;
  height: 45px;
  border-radius: 20px;
  
}
